$font_var: sans-serif;
$dat_blu: #6DC4F2;
$dat_white: #FFFFFF;

.container {

  .search_field {

    margin-top: 7px;
    float: right;
  }

  .submit_button {

    margin-top: 11px;
    margin-left: 10px;
    float: right;
  }

  .btn-group {

    margin-top: 8px;
  }

  select{
    margin-top: 14px;
    margin-left: 10px;
  }

}

body {

  font: $font_var;

  .jumbotron {
    width: 80%;
    color: $dat_white;
    background-color: $dat_blu;
  }

}

.panel {

  position: relative;
  .desc_right{

    ul {
      position: absolute;
      top: 30px;
      right: -10px;
      width: 800px;
      list-style-type: none;
    }


  }

}