.container {

  .btn-group {

    margin-top: 8px;
  }

}

body {

  .jumbotron {
    width: 80%;
    color: #FFFFFF;
    background-color: #000000;
  }

}

.panel {

  position: relative;
  .desc_right{

    ul {
      position: absolute;
      top: 30px;
      right: -10px;
      width: 800px;
      list-style-type: none;
    }


  }

}