<!DOCTYPE html>
<html>
<head>
  <title>A4ProjectRevive</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav nav-pills">
  <li><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
  <li><a href="#">Butt</a></li>
</ul>

<%= yield %>

</body>
</html>
